* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    color: #333;
}

body{
    margin: 0;
    padding: 0;
    padding: 40px 10px;
    background-color: lightblue;
}

/* content-box */
.main{
    width: 100%;
    height: 100vh;
    border-radius: 5px;
    background: #eee;
}
header, .content, footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    padding: 10px;
    background-color: red;
}
.content{
    height: 60vh;
    padding: 10px;
    background-color: blue;
}
footer{
    background-color: green;
}
/* header */
header h1{
    font-size: 2.8em;
}
header p{
    font-size: 1.2em;
}
/* image-box */
.content .image-box{
    width: 100%;    
    height: 100%;
    background-color: white;
}
.content .image{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .image img{
    width: 95%;
    height: 80%;
    object-fit: cover;
}
.image-box p{
    font-size: 1.4em;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body{
        padding: 0px;
        background-color: lightgreen;
    }
    .content .image-box{
        width: 98%;
        background-color: lightseagreen;
    }
}