p{
  background: darkcyan;
  font-family: Arial, sans-serif;
  font-size: medium;
}
table{
  width: 100vh;
  padding: auto;
  margin: auto;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
